<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modifier un Patient</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Modifier le patient</h1>

<form th:action="@{/patients/edit/{id}(id=${patient.id})}" method="post">
  <input type="hidden" th:value="${patient.id}" name="id">

  <label for="firstName">Prénom :</label>
  <input type="text" id="firstName" name="firstName" th:value="${patient.firstName}" required>

  <label for="lastName">Nom :</label>
  <input type="text" id="lastName" name="lastName" th:value="${patient.lastName}" required>

  <label for="dateOfBirth">Date de naissance (AAAA-MM-JJ) :</label>
  <input type="text" id="dateOfBirth" name="dateOfBirth" th:value="${patient.dateOfBirth}" required>

  <label for="gender">Genre :</label>
  <input type="text" id="gender" name="gender" th:value="${patient.gender}" required>

  <label for="postalAddress">Adresse postale :</label>
  <input type="text" id="postalAddress" name="postalAddress" th:value="${patient.postalAddress}">

  <label for="phoneNumber">N° de portable :</label>
  <input type="text" id="phoneNumber" name="phoneNumber" th:value="${patient.phone}">

  <button type="submit">Modifier</button>
</form>

<a href="/patients">Retour à la liste des patients</a>
</body>
</html>
