<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modifier un Patient</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Modifier le patient</h1>

<form th:action="@{/patients/edit/{id}(id=${patient.id})}" method="post">
  <input type="hidden" th:value="${patient.id}" name="id">

  <label for="firstName">Prénom :</label>
  <input type="text" id="firstName" name="firstName" th:value="${patient.firstName}" required>

  <label for="lastName">Nom :</label>
  <input type="text" id="lastName" name="lastName" th:value="${patient.lastName}" required>

  <label for="dateOfBirth">Date de naissance :</label>
  <input type="date" id="dateOfBirth" name="dateOfBirth" th:value="${#dates.format(patient.dateOfBirth, 'yyyy-MM-dd')}" required>

  <button type="submit">Modifier</button>
</form>

<a href="/patients">Retour à la liste des patients</a>
</body>
</html>
