<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un Patient</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Ajouter un nouveau patient</h1>

<form th:action="@{/patients/add}" method="post">
    <label for="firstName">Prénom :</label>
    <input type="text" id="firstName" name="firstName" required>

    <label for="lastName">Nom :</label>
    <input type="text" id="lastName" name="lastName" required>

    <label for="dateOfBirth">Date de naissance (AAAA-MM-JJ) :</label>
    <input type="text" id="dateOfBirth" name="dateOfBirth" required>

    <label for="gender">Genre :</label>
    <input type="text" id="gender" name="gender" required>

    <label for="address">Adresse :</label>
    <input type="text" id="address" name="address">

    <label for="phone">Telephone :</label>
    <input type="text" id="phone" name="phone">

    <label for="noteContent">Notes :</label>
    <textarea id="noteContent" name="noteContent" rows="5" placeholder="Ajouter des notes pour ce patient"></textarea>

    <button type="submit">Ajouter</button>
</form>

<a href="/patients">Retour à la liste des patients</a>
</body>
</html>
