<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un Patient</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Ajouter un nouveau patient</h1>

<form id="addPatientForm">
    <!-- Prénom -->
    <label for="firstName">Prénom :</label>
    <input type="text" id="firstName" name="firstName" required>

    <!-- Nom -->
    <label for="lastName">Nom :</label>
    <input type="text" id="lastName" name="lastName" required>

    <!-- Date de naissance -->
    <label for="dateOfBirth">Date de naissance (AAAA-MM-JJ) :</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" required>

    <!-- Genre -->
    <label for="gender">Genre :</label>
    <input type="text" id="gender" name="gender" required>

    <!-- Adresse -->
    <label for="postalAddress">Adresse :</label>
    <input type="text" id="postalAddress" name="postalAddress">

    <!-- Téléphone -->
    <label for="phone">Téléphone :</label>
    <input type="tel" id="phone" name="phone" placeholder="Téléphone" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" title="Entrez un numéro de téléphone valide">

    <!-- Notes -->
    <label for="noteContent">Notes :</label>
    <textarea id="noteContent" name="noteContent" rows="5" placeholder="Ajouter des notes pour ce patient"></textarea>

    <button type="submit">Ajouter</button>
</form>

<a href="/patients">Retour à la liste des patients</a>

<!-- Inclusion du fichier JS pour gérer l'ajout du patient -->
<script src="/js/addPatient.js"></script>

</body>
</html>
