<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Liste des Patients</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/listPatients.js"></script>  <!-- Inclure le fichier listPatients.js -->
</head>
<body>
<h1>Liste des Patients</h1>

<table>
  <thead>
  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Date de naissance</th>
    <th>Genre</th>
    <th>Adresse</th>
    <th>Telephone</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <!-- Les patients seront ajoutés ici dynamiquement par JavaScript -->
  </tbody>
</table>

<a href="/patients/add">Ajouter un nouveau patient</a>
</body>
</html>
